* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.navigation ul{
    font-family: 'Raleway', sans-serif;
    color:rgb(188, 114, 30);
    list-style: none;
    padding-top: 50px;
    font-weight: lighter;
    font-size: 25px;

    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-right: 500px;
  
}

.navigation li:hover {
    border-bottom: 3px solid rgb(188, 114, 30);
    padding-bottom: 10px;
    cursor: pointer;
}

.face img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 10px solid rgb(188, 114, 30); 
    position: fixed;

    transition: width 2s, height 2s, transform 1s;
}


.face img:hover{
    width: 525px;
    height: 525px;
}

.face {
    padding-left: 55rem;
    padding-top: 50px;
    

}


.home p{
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 40px;
    line-height: 5rem;
    
}

.home {
    padding-left: 300px;
    padding-top: 100px;

    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;

    
}

#intro {
    font-size: 40px;
}

#none{
    font-size: 20px;
    line-height: 2rem;
}

#end{
    font-weight: bolder;
    font-size: 50px;
}

#end span{
    color:  rgb(188, 114, 30);
}

.about{
    padding-top: 10rem; 

    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

#first{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 40px;
    padding-left:300px;
    font-weight: bold;
}

#first span{
    color: rgb(188, 114, 30);
}

hr {
    color: gray;
    width: 530px; 
    margin-left: 300px;
}

.contact {
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

.info {
    padding-left: 300px;

}
.info h3 {
    color:white;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    line-height: 2em;
}

.info span{
    color: rgb(188, 114, 30);
}

.about2{
    display: grid;
    gap: 2px;
    row-gap: 10px;
    column-gap: 10px;
    align-items: space-around;
    grid-template-columns: repeat(2, 150px);

    padding-top: 20px;
    padding-left: 300px;

    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;

}

.box {
    color:white;
    text-align: center;
    width: 150px;
    height: 100px;
    background: #222;
    font-family: "Raleway", sans-serif;

    padding-top: 5px;
}

.box span{
    color: rgb(188, 114, 30);
    font-size: 40px;
}

.education{
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

#educ {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 25px;
    padding-left: 300px;
    padding-top: 50px;
}

#educ span{
    color:rgb(188, 114, 30);
}


.education .boxer{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    font-size: 20px;

    height: 100px;
    width: 200px;
    padding-top: 30px;  
    
}

.boxer .icon{
    padding-right: 500px;
    padding-top: 0px;
}

.icon i{
    color: rgb(188, 114, 30);
    border-radius: 30%;
    width: 30px;
}

.education .boxes span{
    border-radius: 30px;
    background-color: #222;
    padding: 10px;
}

.education .boxer .year{
    padding-top: 0px;
}

.education .boxes{
    padding-left: 300px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 50px;
        
}

.education .boxes p{
    padding: 5px;
    padding-top: 20px;
    font-size: 17px;
    
}

.portfolio{
    padding-top: 150px;

    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

#por{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding-left: 300px;
    color: white;
    font-weight: bolder;
}

.portfolio p span{
    color:rgb(188, 114, 30);
}

.portfolio .boxing {
    padding-left: 300px;
    padding-top: 30px;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 150px);

    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

.portfolio .boxs img{
    height: 100px;
    width: 150px;

    border-radius: 20px;
    transition: width 2s, height 2s, transform 1s;

    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

.portfolio .boxs img:hover{
    width: 170px;
    height: 125px;
}

#port {
    padding-left: 300px;
    padding-top: 20px;
    font-size: 15px;
    line-height: 2em;
    color: white;
    font-family: "Raleway", sans-serif;

}

.contact{
    padding-top: 200px;
}

.contact p{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;

    padding-left: 300px;
}

.contact p span{
    color: rgb(188, 114, 30);
}

.info{
    padding-left: 300px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

form{
    padding-left: 300px;
    padding-top: 50px;

    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

form .box{
    height: 50px;
    width: 260px;
    text-align: left;
    padding-left: 5px;
    border: 1px solid rgb(188, 114, 30);
    border-radius: 10px;
}

.box_message{
    width: 260px;
    height: 200px;
    text-align: left;
    padding-left: 5px;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    background: #222;
    color: white;
    border: 1px solid rgb(188, 114, 30);
    border-radius: 10px;
}

.butto {
    padding-left: 145px;
    padding-top: 10px;
}

button{
    height: 50px;
    width: 115px;
    font-size: 15px;
    background: #222;
    border: 1px solid rgb(188, 114, 30);
    border-radius: 10px;
    color: white;

    position: relative;
    overflow: hidden;
    
}

button{
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    background: rgb(188, 114, 30);
    transition: all 0.2s ease;
}

button:active {
    transform: scale(0.96)
}


button:hover{
    background: rgb(188, 114, 30);
    cursor: pointer;
    
}

footer{
    background: rgb(188, 114, 30);
    height: 50px;
}

.copy{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 10px;
    color: beige;
    font-weight: bold;
}

.info i{
    color: rgb(188, 114, 30);
}

.button i{
    color: rgb(188, 114, 30);
}

@keyframes slide {
    to {
        transform: translateX(0%);
    }

    from{
        transform: translateX(-300%);
    }
}

